.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff !important;
}

.scrollable {
  overflow-y: scroll;
  height: 600px;
}

.scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollable::-webkit-scrollbar:vertical {
  width: 10px;
}

.scrollable::-webkit-scrollbar-button:increment,
.scrollable::-webkit-scrollbar-button {
  display: none;
}

.scrollable::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #d0caca;
  border-radius: 20px;
  border: 1px solid #f1f2f3;
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}

.gap {
  display: flex;
  gap: 7%;
}
